<a
  #rla="routerLinkActive"
  class="navigation-element"
  routerLink="{{ link() }}"
  routerLinkActive="active"
  role="tab"
  tabindex="0"
  [attr.aria-selected]="rla.isActive ? 'true' : 'false'"
>
  <span class="navigation-element_content">
    <span aria-hidden="true" class="navigation-element_active-indicator"></span>
    <span class="navigation-element_icon">
      <mat-icon fontSet="material-symbols-outlined">
        {{ icon() }}
      </mat-icon>
    </span>
  </span>
  <span class="navigation-element_label">{{ label() }}</span>
</a>
